# Node.js
node_modules/
npm-debug.log*

# Build
build/
dist/
*.min.js

# Dependencies
package-lock.json
yarn.lock

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite
*.sqlite3
*.db
*.db3